
* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;   
}

.imagen_fondo {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.navegador {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: rgb(150, 72, 72);
    position: fixed;
    justify-content: space-between;    
    color: rgb(237, 191, 191);
    z-index: 100;
}
.titulo{
    padding-left: 10px;
    
}
.navegador ul{
    padding-right: 10px;
}
.navegador a{
    color: black;
}

@font-face {
    font-family: "KGRedHands";
    src: url(../fonts/KGRedHands.ttf);
}
.navegador h1{
    font-family:"KGRedHands";
}

.header__container {    
    margin-top: 100px;    
    position:relative;
    padding: 10px;
}

.header__container h2{    
    border-bottom: 3px solid #896e65;   
}

.contenedor_header {    
    display: flex;   
    justify-content: space-around;
    flex-wrap: wrap;
}
.header__container p {    
    width: 500px;
    font-size: 150%;
}

.header__container img {   
    border-radius: 12px; 
    width: 500px;
}
.header__container iframe {
    display: flex;
    text-align: center;
} 
.contenedor_habitaciones, .habitaciones, .contenedor_servicios, .contenedor_ubicacion {    
    display: flex;   
    justify-content: space-around;
}
.habitaciones img{    
    width: 400px;
}

.social img {    
    width: 48px;
}
.pie__pagina {
    position:relative;
    padding: 1px;
    background-color: rgb(150, 72, 72);
}

.social {
    
    text-align: center;
    
}

.navegador ul {  
    display: flex;
    
}
.navegador ul li{  
    padding: 10px;
}

.pie__pagina h3{
    text-align: center;
}
.form_container {  
    
    background-color:rgba(174, 171, 171, 0.2);
    margin: 0 auto;
    width: 900px;
    padding: 1em;
    font: 1em sans-serif;    
    margin-bottom: 30px;
  }

  .form__control {
    display: flex;    
  }
  
  .form_container li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .form_container li + li, .mensaje{
    margin-top: 2em;
  }
  
  .form__control label {
    display: inline-block;
    width: 165px;
    text-align: left;    
  }

  .mensaje label {
    display: inline-block;
    width: 165px;
  }

  .mensaje textarea {    
    width: 605px;
  }

  .mensaje {    
    padding-inline-start: 40px;  
  }
  
  .form_container input {
    font: 1em sans-serif;    
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 10em;
  }  
  
  .button button{
    margin-left: 210px;
    margin-top: 15px;
    font: 18px sans-serif; 
  }
