@media (max-width:1140px) {
  .navegador {
    .navegacion_nav{
      display: flex;
      align-items:center;
      margin-right: 15px; 
      .menu {
        display: none;    
      }
      label {
        display: block;
        font-size: 50px;    
      }
      #check__menu:checked ~.menu{      
        background-color: rgb(150, 72, 72);
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;      
      }
    }
  }
    .imagen_descripcion{    
        width: 70%;
        height: 280px;
        background-size: cover;
    }
  }
  @media (max-width:768px) {
    .imagen_descripcion{    
        width: 70%;
        height: 180px;
        background-size: cover;
    }
    .header__container p {
      width: 450px;
      font-size: 18px;
    }
    .contenedor_ubicacion iframe{
      width: 450px;
    }
  }
  @media (max-width: 1385px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 150px repeat(2, 1fr);
      gap: 5px;
      grid-template-areas:
        "cabecera cabecera"
        "section section2"
        "section3 section4"      
      ;
    }
    .cabecera {    
      justify-content: left;    
    }
    .cabecera p {
      margin-top: 0;    
    }
  }
  @media (max-width: 945px){
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 150px repeat(4, 1fr);
      gap: 5px;
      grid-template-areas:
        "cabecera"
        "section"
        "section2"
        "section3"
        "section4"      
      ;
    }
    .form_container div{
      flex-direction: column;
    }
    .mensaje textarea {
      width: 240px;
    }
    .form_container{
      width: 300px;
    }
    .button button {
      margin-left: 10px;    
    }
  }